<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <!--定义日志文件的存储地址 勿在LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/opt/data/wwwlogs/springboot" />
    <property name="APP_NAME" value="springboot-logging" />

    <!--控制台日志， 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <springProfile name="dev">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [ %-5level ] [ %t ] --- [ %L ] [ %-20C ] %m%n</pattern>
            </springProfile>
            <springProfile name="!dev">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [ %-5level ] [ %t ] === [ %L ] [ %-20C ] %m%n</pattern>
            </springProfile>
        </encoder>
    </appender>

    <!--
        RollingFileAppender：滚动记录文件，现将日志记录到指定文件，符合滚动条件时，将日志记录到其他文件。
    -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--
            滚动策略：常见有TimeBasedRollingPolicy和SizeBasedTriggeringPolicy，根据时间和文件大小滚动。
        -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天滚动 -->　　　　　　
            <fileNamePattern>${LOG_HOME}/${APP_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 最多保留近30天的日志 -->
            <maxHistory>30</maxHistory>　
        </rollingPolicy>　　　　　　　　
        <encoder>　　　　　　　　　　　　
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [ %-5level ] [ %t ] --- [ %L ] [ %-20C ] %m%n</pattern>　　　　　　　　　　　　
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.springframework.boot" level="INFO" />
    <logger name="com.chan.springboot" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>